<h1>Best Songs of All Time</h1>
<br />

<%= link_to 'Add Your Favorite Song', new_song_path %>

<br />

<% @songs.each do |song| %>
  <div>
    <h1><%= song.title %></h1>
    <h2>By:<%= song.artist %></h2>
  </div>
  <hr />
<% end %>


